<HTML>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>defect detection</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>Defect Detection</h1>

                <div>이 모델은 <a href="https://arxiv.org/abs/1505.04597">U-Net</a>을 kaggle의 <a href="https://www.kaggle.com/c/severstal-steel-defect-detection">Steel Defect Detection 데이터</a>를 가지고 학습한 모델입니다.</div>
                <div>이 모델을 통해 강철 표면에 존재하는 결함을 감지할 수 있습니다.</div><br>


                <div id = "selectType" style="margin-top: 5px; margin-bottom: 5px;">
                </div>
                <div id = 'inputFile'>
                    <label for="source"> Upload file : </label>
                    <input type = 'file' id = 'source' style="margin-right: 10px; margin-bottom: 10px;">
                    <button id = "submit" type='submit' onclick="this.disabled=true;" class="btn btn-primary btn-lg" style="margin-left: auto;"> Run </button>
                </div>

                <div id ='resultBox' style="margin-left: auto; margin-right: auto; margin-bottom: 40px;">
                    <p id='errorbox'></p>
                    <div id="result">
                        <div id='originTag' style="display:none;">Origin Image</div>
                        <img id="Image" style="max-width:100%; max-height:100%;"><br><br>
                        <div id='inferenceTag' style="display:none;">Inference Image</div>
                        <img id="inferenceImage" style="max-width:100%; max-height:100%;">
                    </div>
                </div>

                <script>
                    document.getElementById("submit").onclick = () => {

                        document.getElementById("submit").disabled = true;
                        document.getElementById("errorbox").innerHTML = "";

                        document.getElementById("inferenceImage").style.display = "none";

                        const formData = new FormData();

                        const source = document.getElementById('source').files[0]
                        console.log(source)

                        formData.append('source', source)

                        fetch('/predict', {method: 'POST',body: formData})
                        .then(response => {
                            if (response.status == 200){
                                return response.json()
                            }
                            else {
                                document.getElementById("errorbox").innerHTML = response.status + " error";
                            }
                        }).then(data => {
                            const originImage = document.getElementById('Image');
                            const image = document.getElementById('inferenceImage');
                            const base64 = data["image"];
                            const src = 'data:image/png;base64,' + base64;
                            image.src = src
                            originImage.src = URL.createObjectURL(document.getElementById('source').files[0]);
                            document.getElementById("submit").disabled = false;
                            document.getElementById("inferenceImage").style.display = "inline";
                            document.getElementById("originTag").style.display = "inline";
                            document.getElementById("inferenceTag").style.display = "inline";
                        }).catch(e =>{
                            document.getElementById("errorbox").innerHTML = e;
                            document.getElementById("submit").disabled = false;
                        });

                    }
                </script>
            </div>
        </div>
    </body>
</HTML>
